---
name: justfile-exec

concurrency:
  group: validate
  cancel-in-progress: true

on:
  push:
    branches:
      - "**"

jobs:
  # This job detects which parts of the repo have been changed, setting future jobs up for conditional behavior.
  justfile-exec:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Run justfile-exec
        uses: taiki-e/install-action@just
        with:
          justfile: ./justfile
          args: all